.div_menu{
			     width: 100%;
      		height: 6%;
      		background: #EFE9E9;
          display: flex;
          color: white;
          font-size: 15px;
		}
		ul{
	      list-style-type: none;
	      padding: 0px;
	      height: 100%;
        z-index: 10;

    	}
    	li{
	      float: left;
	      width: 180px;
	      height: 55px;
	      background: #EFE9E9;
        text-align: center;
        z-index: 10;
        position: relative;
    	}
    	.the_a{
    		display: block;
        width: 100%;
    		height: 100%;
        text-decoration: none;
        font-weight: bold;
        z-index: 10;
        
    	}
    	.the_a:hover{
    	 color: #F34F4F;
        font-size: 17px;
        z-index: 10;
       background: #A1CCC7;
    	}
    	li ul{
      		display: none;
          z-index: 10;

   		 }
   		 li:hover ul{
      display: block;
      z-index: 10;

      } 
      .ul_first{
        margin-left: 330px;
        margin-top: 0px;
        
        z-index: 10;
      }
     
