body{
			margin: 0;
			padding: 0;
			box-sizing: border-box;
			color:white;
			
		}
		.div_tong{
			width: 1520px;
			height: 900px;
			background: white;
		}
		.div_top{
			width: 100%;
			height: 9%;
			/*background: #F58181;*/
		}
		/*.div_menu{
			width: 99%;
			height: 10%;
			padding: 10px 10px 10px 10px;
			background: #1554F4;
			margin: 0px auto;
		}*/

		.div_banner{
			width: 100%;
			height: 25%;
			background: white;
			position: relative;
		}
		.div_product{
			width: 100%;
			height: 55%;
			background: #ACECF6;
		}
		.div_footer{
			width: 100%;
			height: 5%;
			background: black;
		}
		.div_left{
			width: 10%;
			height: 100%;
			background-image: url(logoo1.jpg);
			background-size: 160%;
			background-repeat: no-repeat;
			background-position: center;
			float: left;
			border-radius: 10px;
		}
		.div_center{
			width: 75%;
			height: 100%;
			/*background: #E8AC1B;*/
			float: left;
		}
		.div_right{
			width: 15%;
			height: 100%;
			background: white;
			float: left;
		}
		.div_center_left{
			width: 90%;
			height: 100%;
			/*background: #EB7676;*/
			float: left;
		}
		.div_center_right{
			width: 10%;
			height: 100%;
			background: #AB9595; 	
			float: left;
			position: relative;
		}
		a.a_1{
			text-decoration: none;
		}
		.input1{
			 border: 2px solid grey; 
    		 -webkit-box-shadow: 
     		 inset 0 0 4px  rgba(0,0,0,0.1),
             0 0 16px rgba(0,0,0,0.1); 
    		-moz-box-shadow: 
     		 inset 0 0 4px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
   			 box-shadow: 
      		inset 0 0 4px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    		padding: 10px;
    		background: white;
    		margin: 20px 0px 0px 290px;
    		border-radius: 15px;
    		font-family: Courier;
		}
		.input1:hover{
			border: 2px solid #F70808;
		}
		.hvr-shutter-in-horizontal {
		  padding: 10px 20px 10px 20px;
		  border-radius: 5px;
		  display: inline-block;
		  vertical-align: middle;
		  -webkit-transform: perspective(1px) translateZ(0);
		  transform: perspective(1px) translateZ(0);
		  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
		  position: relative;
		  background: #4C4C4F;
		  -webkit-transition-property: color;
		  transition-property: color;
		  -webkit-transition-duration: 0.3s;
		  transition-duration: 0.3s;
		  font-family: Courier;

		}
		.hvr-shutter-in-horizontal:before {
		  content: "";
		  position: absolute;
		  z-index: -1;
		  top: 0;
		  bottom: 0;
		  left: 0;
		  right: 0;
		  background: #e1e1e1;
		  -webkit-transform: scaleX(1);
		  transform: scaleX(1);
		  -webkit-transform-origin: 50%;
		  transform-origin: 50%;
		  -webkit-transition-property: transform;
		  transition-property: transform;
		  -webkit-transition-duration: 0.2s;
		  transition-duration: 0.2s;
		  -webkit-transition-timing-function: ease-out;
		  transition-timing-function: ease-out;
		}
		.hvr-shutter-in-horizontal:hover, .hvr-shutter-in-horizontal:focus, .hvr-shutter-in-horizontal:active {
		  color: white;
		}
		.hvr-shutter-in-horizontal:hover:before, .hvr-shutter-in-horizontal:focus:before, .hvr-shutter-in-horizontal:active:before {
		  -webkit-transform: scaleX(0);
		  transform: scaleX(0);
		}
		.span1{
			margin-bottom: 0px;
			margin-left: 20px;
			font-size: 15px;
			color: black;
			position: absolute;
			top: 25px;
		}
		.span1:hover{
				
			color: #F22145;
		}
		.hvr-underline-reveal {
			border-radius: 5px;
		  display: inline-block;
		  vertical-align: middle;
		  -webkit-transform: perspective(1px) translateZ(0);
		  transform: perspective(1px) translateZ(0);
		  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
		  position: relative;
		  overflow: hidden;
		  padding: 5px;
		  margin: 18px -30px 0px 40px;
		}
		.hvr-underline-reveal:before {
		  content: "";
		  position: absolute;
		  z-index: -1;
		  left: 0;
		  right: 0;
		  bottom: 0;
		  background: #2098D1;
		  height: 4px;
		  -webkit-transform: translateY(4px);
		  transform: translateY(4px);
		  -webkit-transition-property: transform;
		  transition-property: transform;
		  -webkit-transition-duration: 0.2s;
		  transition-duration: 0.2s;
		  -webkit-transition-timing-function: ease-out;
		  transition-timing-function: ease-out;
		}
		.hvr-underline-reveal:hover:before, .hvr-underline-reveal:focus:before, .hvr-underline-reveal:active:before {
		  -webkit-transform: translateY(0);
		  transform: translateY(0);
		}
